.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center_window {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}