

.head_label {
    text-align: center;
    margin: 1%;
    font-weight: bold;
}

.option_label {
    margin: 1%;
    margin-left: 2%;
    border-bottom: dashed 1px #756969;
    width: 100%;
    font-weight: bold;
}

.failed_size {
    width: 25%;
    margin-right: 10%;
}

.width_failed_time {
    width: 25%;
}

.icon_action {
    margin-right: 20%;
}

.icon_action:hover {
    cursor: pointer;
}

.background_red {
    font-ba: red;
}