.App {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background-color: #eee;
    font-family: "Open Sans", sans-serif;
}

/* divider */
.divider {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: #333;
}

.container {
    padding: 50px;
    margin-left: 300px;
    transition: margin-left 0.2s ease-in;
}

.container.inactive {
    margin-left: 100px; /*edit*/
}

/* -- Side Menu -- */
/* Top section */
.side-menu {
    position: absolute;
    top: 0;
    z-index: 100;
    left: 0;
    background-color: rgba(0, 0, 0, 0.93);
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    transition: width 0.2s ease-in;
    cursor: pointer;
    border-radius: 0 4%;
}

.side-menu .main-menu .menu-item.active {
    background-color: #666;
    border-radius: 5px;
    color: #fff;
}

.side-menu.inactive {
    width: 70px; /*edit*/
}

.side-menu .top-section {
    position: relative;
}

.side-menu .top-section .logo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
}

.side-menu .top-section .logo img {
    max-width: 100%; /*37px*/
    max-height: 100%;
}

.side-menu .top-section .toggle-menu-btn {
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.side-menu.inactive .top-section .toggle-menu-btn {
    right: -50px;
}

/*search */
.side-menu .search-controller {
    color: #fff;
    position: relative;
}

.side-menu .search-controller .search-btn {
    width: 40px;
    height: 35px;
    position: absolute;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #666;
    top: 50%;
    transform: translateY(-50%);
}

.side-menu .search-controller input[type="text"] {
    border: 0;
    outline: none;
    height: 30px;
    background-color: #333;
    border-radius: 5px;
    display: block;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 40px;
    color: #666;
}

/* menu-item */
.side-menu .main-menu {
    margin: 5px 0;
}

.side-menu .main-menu .menu-item {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
}

.side-menu .main-menu .menu-item span {
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .menu-item .menu-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.side-menu .main-menu .sub-menu {
    color: #333;
    margin-left: 20px;
    border-left: 1px solid #666;
    box-sizing: border-box;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
}

.side-menu .main-menu .sub-menu.active {
    max-height: 200px;
}

.side-menu .main-menu .sub-menu a {
    display: block;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
    padding: 5px;
}

.side-menu .main-menu .sub-menu a.active {
    background-color: #666;
    display: block;
    border-radius: 5px;
    color: #fff;
}

/*footer*/
.side-menu-footer {
    width: 100%;
    height: 100px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
}

.side-menu-footer .avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.side-menu-footer .avatar img {
    max-width: 100%;
}

.side-menu .user-info {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    position: absolute;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.side-menu.inactive .side-menu-footer .user-info {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .user-info h5 {
    font-size: 15px;
}

.side-menu .user-info p {
    font-size: 14px;
}
