body {
  background: blue;
}

.make {
  width: 100%
}

.side_menu {
  position: fixed;
  top: 90%;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}