.Loading {
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.91);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

p {
    font-weight: bold;
    animation-name: Text;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px white solid;
    background-color: black;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.bigCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px white solid;
    background-color: black;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes loading {
    20% {
        border-top-color: #fff;
        box-shadow: 1px 1px 40px cyan;
        border-radius: 10px 90px;
    }
    40% {
        border-top-color: #f44336;
        box-shadow: 1px 1px 40px #f44336;
        border-radius: 90px 10px;
    }

    60% {
        border-right-color: #e91e63;
        box-shadow: 1px 1px 40px #e91e6373;
        border-radius: 10px 90px 90px 10px;
    }
    80% {
        border-bottom-color: #ff9800;
        box-shadow: 1px 1px 40px #ff572299;
        border-radius: 10px 90px 10px 90px;
    }
    100% {
        border-left-color: #009688;
        box-shadow: 1px 1px 40px cyan;
        border-radius: 50%;
    }
}

@keyframes Text {
    0% {
        color: cyan;
        opacity: 0.5;
    }
    20% {
        color: purple;
        opacity: 1;
    }
    40% {
        color: #f44336;
        opacity: 0.1;
    }

    60% {
        color: #e91e63;
        opacity: 0.7;
    }
    80% {
        color: #ff9800;
        opacity: 0.2;
    }
    100% {
        color: cyan;
        opacity: 0.5;
    }
}
